MYSQL_DATABASE=portfolio_db
MYSQL_USER=portfolio_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

URL_API=http://127.0.0.1:8000

CHIAVE_API_TWELVE_DATA=
URL_API_TWELVE_DATA=https://api.twelvedata.com

GEMINI_API_KEY=
MODELLO_GEMINI=gemini-2.5-flash-lite